<!-- plugins/redmine_gpt/app/views/settings/_gpt_settings.html.erb -->

<p>
  <%= text_field_tag 'settings[openai_api_key]', Setting.plugin_redmine_gpt['openai_api_key'], size: 40 %>
  <%= label_tag 'settings[openai_api_key]', l(:field_openai_api_key) %>   https://platform.openai.com/api-keys
</p>

<p>
  <%= text_area_tag 'settings[custom_instructions]', Setting.plugin_redmine_gpt['custom_instructions'], size: "40x5", maxlength: 15000 %>
  <%= label_tag 'settings[custom_instructions]', l(:field_custom_instructions) %>
</p>

<p>
  <%= text_area_tag 'settings[response_style]', Setting.plugin_redmine_gpt['response_style'], size: "40x5", maxlength: 15000 %>
  <%= label_tag 'settings[response_style]', l(:field_response_style) %>
</p>
