<!-- plugins/redmine_gpt/app/views/gpt/index.html.erb -->
<h1>ChatGPT</h1>

<% if @error.present? %>
  <div class="error-message">
    <%= @error %>
  </div>
<% end %>



<div id="conversation" style="background-color: #f3f3f3; padding: 20px; height: 300px; overflow-y: scroll; margin-bottom: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
 
  <% if @response_text %>
    <div style="margin-bottom: 20px; padding: 10px; background-color: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
      <strong>You:</strong>
      <div style="white-space: pre-wrap;"><%= params[:prompt] %></div>
    </div>
    <div style="margin-bottom: 20px; padding: 10px; background-color: #007bff; color: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
      <strong><%= @selected_model %>:</strong>
      <div style="white-space: pre-wrap;"><%= simple_format(@response_text) %></div>
    </div>
  <% end %>
</div>



<% if @model_info.present? %>
  <div>
    <strong>입력한 모델 정보:</strong> <%= @model_info %>
  </div>
<% end %>


<%= form_with url: generate_gpt_path, method: :post, local: true do |form| %>
  <div>
    <%= label_tag :prompt, "메시지를 입력하세요:", style: "display: block; margin-bottom: 5px;" %>
    <%= text_area_tag :prompt, nil, placeholder: "여기에 메시지를 입력하세요...", class: "form-control", style: "width: 100%; height: 50px; border-radius: 8px;" %>
  </div>

<div>
  <%= label_tag :model, "모델을 선택하세요:", style: "display: block; margin-bottom: 5px;" %>
  <% llm_models = Setting.plugin_redmine_gpt['llm_model_list'].to_s.split(',').map do |model_entry|
      model_name, model_api = model_entry.strip.match(/^(.*?)\s*\((.*?)\)$/).captures
      [model_name.strip, "#{model_name.strip} (#{model_api.strip})"]
    end
  %>
  <%= select_tag :model , class: "form-control", style: "width: 100%; border-radius: 8px; margin-bottom: 10px;" %>
</div>

  <div style="margin-top: 10px;">
    <%= submit_tag "전송", class: "btn btn-primary", style: "width: 100%; border-radius: 8px; padding: 10px 0;" %>
  </div>


<% end %>


<script>
  // Scroll to the bottom of the conversation div every time the page loads.
  window.onload = function() {
    var conversationDiv = document.getElementById('conversation');
    conversationDiv.scrollTop = conversationDiv.scrollHeight;
  };
</script>
